.gitignore
.history
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
playbooks/hosts
eng114_terraform/.terraform/
eng114_terraform/terraform.tfstate
eng114_terraform/terraform.tfstate.backup
eng114_terraform/terraform.lock.hcl
